.container__wrapper {
  width: 90%;
  margin: auto;
  padding: 10px;
  margin-top: 15px;
}

.users {
  padding: 0;
  margin: 0;
  &-list {
    padding: 10px;
    border: 1px solid #ddd;
    list-style: none;
    margin-top: 5px;
  }
}
